    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Skrol Store</h2>
          <p>The Skrol Store is filled with various media to suit everyone's language learning needs. The store has books, music, and many other formats.</p>
          <p><a class="btn btn-default" href="#" role="button" disabled="disabled">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Skrol Video</h2>
          <p>Our video section has hours of practice material for anyone to work through in their target language. Hours watched will feed straight back into a learner's profile.</p>
          <p><a class="btn btn-default" href="#" role="button" disabled="disabled">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Skrol Chat</h2>
          <p>Learners will be paired up with native speakers of their target language. All conversation time will be logged to the learner's profile.</p>
          <p><a class="btn btn-default" href="#" role="button" disabled="disabled">View details »</a></p>
        </div>
      </div>
    </div>
