    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Skroll Store</h2>
          <p>The Skroll Store is filled with various media to suit everyone's language learning needs. The store has books, music, and other media for all levels that will feed into the Skroll platform.</p>
          <p><a class="btn btn-default" href="#" role="button" disabled="disabled">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Skroll Video</h2>
          <p>Our video section will use a learner's profile to search for suitable video in their target language. Vocabulary from the videos will feed straight back into the learner's profile and will count towards their practice stats.</p>
          <p><a class="btn btn-default" href="#" role="button" disabled="disabled">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Skroll Chat</h2>
          <p>Skroll Chat introduces a different approach to language acquisiton. Learners will be paired up with native speakers of their target language. All conversation vocab will be logged to the learner's profile.</p>
          <p><a class="btn btn-default" href="#" role="button" disabled="disabled">View details »</a></p>
        </div>
      </div>
    
    </div> 