<div class="jumbotron">
  <div class="container">
    
    <div class="marquee"><%= @GermanSentenceMarquee.join ' ' %></div>
    <div class="marquee"><%= @GermanPhoneticMarquee.join ' ' %></div>
    <div class="marquee"><%= @EnglishSentenceMarquee.join ' ' %></div> 
    
  </div>
</div>
