<div class="row">
  <div class="col-md-1">
    <button type="button" class="btn btn-primary btn-circle btn-lg" id='target-language'>+</button>
    <button type="button" class="btn btn-primary btn-circle btn-lg" id='target-phonetic'>+</button>
    <button type="button" class="btn btn-primary btn-circle btn-lg" id='english'>+</button>
  </div>
  <div class="col-md-22">
    <div class="marquee">
      <table>
        <tr class='target-language'>
          <% @target_language_marquee.each do |sentence| %>
          <td class='marquee-cell'><%= sentence %></td>
          <% end %>
        </tr>
        <tr class= 'target-phonetic'>
          <% @target_phonetic_marquee.each do |sentence| %>
          <td class='marquee-cell'><%= sentence %></td>
          <% end %>
        </tr>
        <tr class= 'english'>
          <% @EnglishSentenceMarquee.each do |sentence| %>
          <td class='marquee-cell'><%= sentence %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>
<br>
<%= render 'static_pages/generator_controls'%>

