<div>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default"disabled="disabled">Generator:</button>
    <button type="button" class="btn btn-primary" id='stop-start'>Skrolling</button>
  </div>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-primary" disabled="disabled"><b>-</b></button>
    <button type="button" class="btn btn-default" disabled="disabled">(Font Speed)</button>
    <button type="button" class="btn btn-primary" disabled="disabled"><b>+</b></button>
  </div>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-primary" disabled="disabled"><b>-</b></button>
    <button type="button" class="btn btn-default" disabled="disabled">(Font Size)</button>
    <button type="button" class="btn btn-primary" disabled="disabled"><b>+</b></button>
  </div>
</div>
<br>
<div>

</div>