<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"disabled="disabled">Generator:</button></button>
  <button type="button" class="btn btn-primary" id='stop-start'>Skrolling</button>
</div>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-primary"><b>-</b></button>
  <button type="button" class="btn btn-default" disabled="disabled">(speed)</button>
  <button type="button" class="btn btn-primary"><b>+</b></button>
</div>

