<% provide(:title, "Chinese") %>
<% @target_language = "CHT" %>
<% @target_phonetic = "CHT" %>
<% @target_language_marquee = @ChineseTraditionalMarquee %>
<% @target_phonetic_marquee = @ChineseSimplifiedMarquee %>
<div class="jumbotron">
  <div class="container">
    <%= render 'static_pages/generator_marquee'%>
  </div>
</div>
<%= render 'static_pages/feature_columns' %>