<% provide(:title, "Phonetic Alphabet") %>
<% @target_language = "English IPA" %>
<% @language_img = "http://i.telegraph.co.uk/multimedia/archive/02538/Caltonhill-Edinbur_2538615b.jpg" %>
<% @target_language_marquee = @english_phonetic_marquee %>
<div class="jumbotron">
  <div class="container">
     <%= render 'static_pages/generator_marquee2'%>
    <br>
  </div>
</div>
<%= render 'static_pages/feature_columns' %>