<% provide(:title, "German") %>
<% @target_language = page_title = "De" %>
<% @target_phonetic = "IPA" %>
<% @target_language_marquee = @GermanSentenceMarquee %>
<% @target_phonetic_marquee = @GermanPhoneticMarquee %>
<div class="jumbotron">
  <div class="container">
     <%= render 'static_pages/generator_marquee'%>
    <br>
  </div>
</div>
<%= render 'static_pages/feature_columns' %>