<% @target_language = "German" %>
<% @target_phonetic = "German_phonetic" %>
<% @target_language_marquee = @GermanSentenceMarquee %>
<% @target_phonetic_marquee = @GermanPhoneticMarquee %>
<div class="jumbotron">
  <div class="container">
     <%= render 'static_pages/generator_marquee'%>
    <br>
  </div>
</div>
<%= render 'static_pages/feature_columns' %>