<div class="jumbotron">
  <div class="container">
    <div class="marquee">
      <table>
        <tr class='german'>
          <% @GermanSentenceMarquee.each do |sentence| %>
          <td><%= sentence %></td>
          <% end %>
        </tr>
        <tr class= 'german'>
          <% @GermanPhoneticMarquee.each do |sentence| %>
          <td><%= sentence %></td>
          <% end %>
        </tr>
        <tr class= 'english'>
          <% @EnglishSentenceMarquee.each do |sentence| %>
          <td><%= sentence %></td>
          <% end %>
        </tr>
      </table>
    </div>
    <br>
    <div>
      <button type="button" class="btn btn-primary" id='german'>German</button>
      <button type="button" class="btn btn-primary" id='english'>English</button>
    </div>
  </div>
</div>
 <%= render 'static_pages/feature_columns' %>