<% provide(:title, "German") %>
<% @target_language = "German" %>
<% @language_img = "http://www.globalgrasshopper.com/wp-content/uploads/2011/11/Neuschwanstein-Castle1.jpg" %>
<% @target_language_marquee = @german_sentence_marquee %>
<% @target_phonetic_marquee = @german_phonetic_marquee %>
<div class="jumbotron">
  <div class="container">
     <%= render 'static_pages/generator_marquee3'%>
    <br>
  </div>
</div>
<%= render 'static_pages/feature_columns' %>