<% provide(:title, "German") %>
<% @target_language = "German" %>
<% @language_img = "http://images2.fanpop.com/images/photos/3900000/Germany-landscape-germany-3923254-500-375.jpg" %>
<% @target_language_marquee = @GermanSentenceMarquee %>
<% @target_phonetic_marquee = @GermanPhoneticMarquee %>
<div class="jumbotron">
  <div class="container">
     <%= render 'static_pages/generator_marquee'%>
    <br>
  </div>
</div>
<%= render 'static_pages/feature_columns' %>