<% provide(:title, "German") %>
<% @target_language = "German" %>
<% @language_img = "http://cdn.bootsnall.com/locations/Europe-Germany-2-thumb.jpg" %>
<% @target_language_marquee = @german_sentence_marquee %>
<% @target_phonetic_marquee = @german_phonetic_marquee %>
<div class="jumbotron">
  <div class="container">
     <%= render 'static_pages/generator_marquee3'%>
    <br>
  </div>
</div>
<%= render 'static_pages/feature_columns' %>
