  <div class="jumbotron">
    <div class="container">
      <h2>Hello, Welcome to Skroll.</h2>
      <p>Please select which language you would like to learn below...</p>
      <div class="row">
        <%= link_to "German", german_path, class: "btn btn-default btn-lg" %>
        <%= link_to "Japanese", japanese_path, class: "btn btn-default btn-lg" %>
        <%= link_to "Portuguese", portuguese_path, class: "btn btn-default btn-lg" %>
      </div>
    </div>
  </div>

  <%= render 'static_pages/feature_columns' %>