<% provide(:title, "Japanese") %>
<% @target_language = "Japanese" %>
<% @language_img = "https://cheapticketssg.files.wordpress.com/2014/01/osaka-castle-osaka-japan.jpg" %>
<% @target_language_marquee = @JapaneseSentenceMarquee %>
<% @target_phonetic_marquee = @JapaneseRomajiMarquee %>
<div class="jumbotron">
  <div class="container">
     <%= render 'static_pages/generator_marquee'%>
    <br>
  </div>
</div>
<%= render 'static_pages/feature_columns' %>