<% @target_language = "Japanese" %>
<% @target_phonetic = "Romaji" %>
<% @target_language_marquee = @JapaneseSentenceMarquee %>
<% @target_phonetic_marquee = @JapaneseRomajiMarquee %>
<div class="jumbotron">
  <div class="container">
     <%= render 'static_pages/generator_marquee'%>
    <br>
  </div>
</div>
<%= render 'static_pages/feature_columns' %>