<% provide(:title, "Maltese") %>
<% @target_language = "Maltese" %>
<% @language_img = "http://media-cdn.tripadvisor.com/media/photo-s/02/71/18/a0/the-valletta-waterfront.jpg" %>
<% @target_language_marquee = @maltese_sentence_marquee %>
<% @target_phonetic_marquee = @maltese_phonetic_marquee %>
<div class="jumbotron">
  <div class="container">
     <%= render 'static_pages/generator_marquee2'%>
    <br>
  </div>
</div>
<%= render 'static_pages/feature_columns' %>