<% provide(:title, "Norwegian") %>
<% @target_language = "Norwegian" %>
<% @language_img = "http://i.telegraph.co.uk/multimedia/archive/01446/norway-village_1446420i.jpg" %>
<% @target_language_marquee = @NorseSentenceMarquee %>
<% @target_phonetic_marquee = @NorsePhoneticMarquee %>
<div class="jumbotron">
  <div class="container">
     <%= render 'static_pages/generator_marquee'%>
    <br>
  </div>
</div>
<%= render 'static_pages/feature_columns' %>