<% provide(:title, "Portuguese") %>
<% @target_language = "Pt" %>
<% @target_phonetic = "Es" %>
<% @target_language_marquee = @PortugueseSentenceMarquee %>
<% @target_phonetic_marquee = @PortuguesePhoneticMarquee %>
<div class="jumbotron">
  <div class="container">
     <%= render 'static_pages/generator_marquee'%>
    <br>
  </div>
</div>
<%= render 'static_pages/feature_columns' %>