<% provide(:title, 'Languages') %>
<div class="container">
  <div class="row">
    <h1 class="col-md-10">Languages</h1>
    <div class="col-md-2"><%= link_to 'New', new_language_path, class: "btn btn-default btn-new" %></div>
  </div>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Language</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    
      <tbody>
      <% @language.each do |language| %>
        <tr>
          <td><%= language.language_name %></td>
          <td><%= link_to 'Show', language %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>