  <hr>
<footer>
  <div class="container">
    <p>© Skroll 2015</p>
    <nav>
      <ul>  
        <li><%= link_to "German", german_path %></li>
        <li><%= link_to "Japanese", japanese_path %></li>
        <li><%= link_to "Portuguese", portuguese_path %></li>
      </ul>
    </nav>
  </div>
</footer>